body {
    font-family: Arial, sans-serif;
}

body[data-sidebar=dark].vertical-collpsed {
    min-height: auto !important;
}

.big {
    font-size: 1.2em;
}

.create-plus {
    display: flex;
    align-items: center;
}

/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-dropdown select {
    cursor:pointer;
    background-color: #2980b9;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}

.plus-loc{
    display: flex;
    text-align: center;
    align-items: center;
}

.mask{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 75px;
    height: 75px;
    border: 10px solid #556ee6;
    border-radius: 50%;
    border-left-color: var(--bs-white);
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100%{
        transform: rotate(360deg);
    }
}

.hide{
    opacity: 0;
}


.mask2{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader2{
    width: 175px;
    height: 175px;
    border: 10px solid #556ee6;
    border-radius: 50%;
    border-left-color: var(--bs-white);
    animation: loader 1.3s linear infinite;
}

@keyframes loader2 {
    100%{
        transform: rotate(360deg);
    }
}

.hide2{
    opacity: 0;
}


/*.table th,*/
/*.table td{*/
/*    border: 1px solid black;*/
/*}*/

/*thead th{*/
/*    background: rgb(55 93 94) !important;*/
/*    color: #eff2f7;*/
/*    font-weight: 800;*/
/*}*/