<#import "../index.ftlh" as base >

<@base.layout title="Канбан Доска">

    <meta http-equiv="refresh" content="59">

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <#-- ДИРЕКТОРИЯ СТРАНИЦЫ-->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18" key="t-kanban-board">Канбан Доска</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active" key="t-kanban-board">Канбан Доска</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <#-- КАНБАН ДОСКА-->
                <div class="row" style="display: flex; flex-direction: row">
                    <#-- НОВЫЕ ЗАЯВКИ-->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4 text-warning" key="t-new-kanban">Новые</h4>
                                <div>
                                    <div class="pb-1">
                                        <#list listApp as application>
                                            <div class="card border border-warning">
                                                <div class="card-body" style="padding-bottom:revert">
                                                    <div class="float-end ms-2" style="cursor: default" title="Приоритет заявки">
                                                        <#if application.priority.id = 1>
                                                            <h6 class="mb-0 badge bg-primary font-size-11">${application.priority.name}</h6>
                                                        <#elseif application.priority.id = 2>
                                                            <h6 class="mb-0 badge bg-warning font-size-11">${application.priority.name}</h6>
                                                        <#else>
                                                            <h6 class="mb-0 badge bg-danger font-size-11">${application.priority.name}</h6>
                                                        </#if>
                                                    </div>
                                                    <div>
                                                        <h5 class="font-size-15"><a
                                                                    href="/applications/${application.id}"
                                                                    class="text-dark" data-toggle="tooltip"
                                                                    title="Перейти к профилю заявки"
                                                                    id="task-name">${application.name}</a>
                                                        </h5>
                                                    </div>
                                                    <div>
                                                        <p class="text-muted mb-1" style="cursor: default"
                                                           title="Срок выполнения заявки">${application.planedDueDate}</p>
                                                        <p><a
                                                                    href="/user/profile/${application.executor.id}"
                                                                    class="text-dark" data-toggle="tooltip"
                                                                    title="Перейти к профилю исполнителя">${application.executor.fullName}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </#list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <#-- АКТИВНЫЕ ЗАЯВКИ-->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4 text-primary" key="t-in-progress">В работе</h4>
                                <div>
                                    <div class="pb-1">
                                        <#list listAppProgress as application>
                                            <div class="card border border-primary ">
                                                <div class="card-body" style="padding-bottom:revert">
                                                    <div class="float-end ms-2" style="cursor: default" title="Приоритет заявки">
                                                        <#if application.priority.id = 1>
                                                            <h6 class="mb-0 badge bg-primary font-size-11">${application.priority.name}</h6>
                                                        <#elseif application.priority.id = 2>
                                                            <h6 class="mb-0 badge bg-warning font-size-11">${application.priority.name}</h6>
                                                        <#else>
                                                            <h6 class="mb-0 badge bg-danger font-size-11">${application.priority.name}</h6>
                                                        </#if>
                                                    </div>
                                                    <div>
                                                        <h5 class="font-size-15"><a
                                                                    href="/applications/${application.id}"
                                                                    class="text-dark" data-toggle="tooltip"
                                                                    title="Перейти к профилю заявки"
                                                                    id="task-name">${application.name}</a>
                                                        </h5>
                                                    </div>
                                                    <div>
                                                        <p class="text-muted mb-1" style="cursor: default"
                                                           title="Срок выполнения заявки">${application.planedDueDate}</p>
                                                        <p class="font-size-12"><a
                                                                    href="/user/profile/${application.executor.id}"
                                                                    class="text-dark" data-toggle="tooltip"
                                                                    title="Перейти к профилю исполнителя">${application.executor.fullName}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </#list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <#-- ПРОСРОЧЕННЫЕ ЗАЯВКИ-->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4 text-danger" key="t-in-overdue">Просроченные</h4>
                                <div>
                                    <div class="pb-1">
                                        <#list listAppOverdue as application>
                                            <div class="card border border-danger">
                                                <div class="card-body" style="padding-bottom:revert">
                                                    <div class="float-end ms-2" style="cursor: default" title="Приоритет заявки">
                                                        <#if application.priority.id = 1>
                                                            <h6 class="mb-0 badge bg-primary font-size-11">${application.priority.name}</h6>
                                                        <#elseif application.priority.id = 2>
                                                            <h6 class="mb-0 badge bg-warning font-size-11">${application.priority.name}</h6>
                                                        <#else>
                                                            <h6 class="mb-0 badge bg-danger font-size-11">${application.priority.name}</h6>
                                                        </#if>
                                                    </div>
                                                    <div>
                                                        <h5 class="font-size-15"><a
                                                                    href="/applications/${application.id}"
                                                                    class="text-dark" data-toggle="tooltip"
                                                                    title="Перейти к профилю заявки"
                                                                    id="task-name">${application.name}</a>
                                                        </h5>
                                                    </div>
                                                    <div>
                                                        <p class="text-muted mb-1" style="cursor: default"
                                                           title="Срок выполнения заявки">${application.planedDueDate}</p>
                                                        <p class="font-size-12"><a
                                                                    href="/user/profile/${application.executor.id}"
                                                                    class="text-dark" data-toggle="tooltip"
                                                                    title="Перейти к профилю исполнителя">${application.executor.fullName}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </#list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <#-- ЗАКРЫТЫЕ ЗАЯВКИ-->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4 text-success" key="t-completed-kanban">Выполнены</h4>
                                <div>
                                    <div class="pb-1">
                                        <#list completedApplications as application>
                                            <div class="card border border-success">
                                                <div class="card-body" style="padding-bottom:revert">
                                                    <div class="float-end ms-2" style="cursor: default" title="Приоритет заявки">
                                                        <#if application.priority.id = 1>
                                                            <h6 class="mb-0 badge bg-primary font-size-11">${application.priority.name}</h6>
                                                        <#elseif application.priority.id = 2>
                                                            <h6 class="mb-0 badge bg-warning font-size-11">${application.priority.name}</h6>
                                                        <#else>
                                                            <h6 class="mb-0 badge bg-danger font-size-11">${application.priority.name}</h6>
                                                        </#if>
                                                    </div>
                                                    <div>
                                                        <h5 class="font-size-15"><a
                                                                    href="/applications/${application.id}"
                                                                    class="text-dark" data-toggle="tooltip"
                                                                    title="Перейти к профилю заявки"
                                                                    id="task-name">${application.name}</a>
                                                        </h5>
                                                    </div>
                                                    <div>
                                                        <p class="text-muted mb-1" style="cursor: default"
                                                           title="Дата закрытия заявки">${application.closedDate.format(formatter)}</p>
                                                        <p class="font-size-12"><a
                                                                    href="/user/profile/${application.executor.id}"
                                                                    class="text-dark" data-toggle="tooltip"
                                                                    title="Перейти к профилю исполнителя">${application.executor.fullName}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </#list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@base.layout>