<#import "../index.ftlh" as base>

<#assign security=JspTaglibs["http://www.springframework.org/security/tags"]/>

<@base.layout title="Обзор устройства - ${device.getName()}">

    <div class="page-content">
        <div class="container-fluid">
            <#-- ДИРЕКТОРИЯ СТРАНИЦ-->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18" key="t-device-overview">Device Overview</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item" key="t-application-overview">Application Overview</li>
                                <li class="breadcrumb-item" key="t-devices">Devices</li>
                                <li class="breadcrumb-item active" key="t-device-overview">Device Overview</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_general_location">
                <div style="margin-bottom: 20px">
                    <div class="row" style="display: flex; flex-direction: row">
                        <#if device?has_content>
                        <#-- блок ПРОФИЛЯ-->
                            <div class="col-md-4">
                                <div class="card"
                                     style="border-top: 3px solid; border-radius: 0; display: flex; flex-direction: row; justify-content: space-around; padding: 20px">
                                    <div class="card-body" style="width: 700px">
                                        <div class="row" style="display:flex; justify-content: center">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/entities/devices.png" alt="device"
                                                     class="avatar-sm">
                                                <h4 class="card-header bg-transparent"
                                                    style="max-width: 250px">${device.getName()}</h4>
                                            </div>
                                            <div class="mt-4 ps-4">
                                                <h5 class="font-size-15 mt-4" key="t-device-details">Device
                                                    Details:</h5>
                                                <p class="text-muted"><a href="/device-type/list"
                                                                         class="text-muted"
                                                                         data-toggle="tooltip"
                                                                         title="Перейти к списку типов устройства">${device.getType().getName()}</a>
                                                </p>
                                            </div>
                                            <div class="text-muted mt-2">

                                                <#-- блок списка информации-->
                                                <div class="table-responsive">
                                                    <form action="">
                                                        <table style="display: flex"
                                                               class="table table-nowrap align-middle">
                                                            <thead>
                                                            <tr style="display: flex; flex-direction: column">
                                                                <th key="t-author-field">Author:</th>
                                                                <th key="t-created-date-field">Created
                                                                    Date:
                                                                </th>
                                                                <th key="t-status-field">Status:</th>
                                                                <th key="t-inventory-number-field">Inventory
                                                                    Number:
                                                                </th>
                                                                <th key="t-serial-number-field">Serial
                                                                    Number:
                                                                </th>
                                                                <th key="t-address-field">Address:</th>
                                                                <th key="t-description-field">Description:</th>
                                                                <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
                                                                    <th style="height: 48px" key="t-edit-field">
                                                                        Edit:
                                                                    </th>
                                                                </@security.authorize>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr style="display: flex; flex-direction: column"
                                                                data-id="1">
                                                                <td data-field="author">${device.getAuthor().getName() + " " + device.getAuthor().getSurname()}</td>
                                                                <td data-field="createdDate">${device.getCreatedDate().toLocalDate()}</td>
                                                                <td data-field="status"><span
                                                                            class="badge bg-success font-size-12">${device.getStatus().getName()}</span>
                                                                </td>
                                                                <td data-field="inventoryNumber">${device.getInventoryNumber()}</td>
                                                                <td>${device.getSerialNumber()}</td>
                                                                <td data-field="location"
                                                                    style="max-width: 170px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">${device.getLocation().getAddress()}
                                                                </td>
                                                                <td data-field="description"
                                                                    style="max-width: 170px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">${device.getDescription()}</td>
                                                                <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
                                                                    <td data-field="edit" style="height: 48px">
                                                                        <a href="device/overview/${device.id}/edit"
                                                                           class="btn btn-outline-secondary btn-sm"
                                                                           title="Edit" data-bs-toggle="modal"
                                                                           data-bs-target="#editDevice">
                                                                            <i class="fas fa-pencil-alt"></i>
                                                                        </a>
                                                                    </td>
                                                                </@security.authorize>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </form>

                                                    <#-- блок РЕДАКТИРОВАНИЯ-->
                                                    <div class="modal fade" id="editDevice"
                                                         data-bs-backdrop="static"
                                                         data-bs-keyboard="false" tabindex="-1"
                                                         aria-labelledby="editDeviceLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.62)">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <div class="d-flex">
                                                                        <h6 class="modal-title text-uppercase fw-bold"
                                                                            id="editDevice" key="t-edit">
                                                                            Edit</h6>
                                                                        <h6 class="modal-title text-uppercase fw-bold ps-1 text-info">${device.name}</h6>
                                                                    </div>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="table-responsive">
                                                                        <form action="/device/overview/${device.id}/edit"
                                                                              method="post">
                                                                            <table class="table table-editable table-nowrap align-middle table-edits d-flex">
                                                                                <thead>
                                                                                <tr class="d-flex flex-column">
                                                                                    <th key="t-name-field"
                                                                                        style="height: 55px">Name:
                                                                                    </th>
                                                                                    <th key="t-type-field"
                                                                                        style="height: 55px">Type:
                                                                                    </th>
                                                                                    <th key="t-inventory-number-field"
                                                                                        style="height: 55px">
                                                                                        Inventory Number:
                                                                                    </th>
                                                                                    <th key="t-serial-number-field"
                                                                                        style="height: 55px">Serial
                                                                                        Number:
                                                                                    </th>
                                                                                    <th key="t-description-field"
                                                                                        style="height: 118px">
                                                                                        Description:
                                                                                    </th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr class="d-flex flex-column">
                                                                                    <td><input type="text"
                                                                                               name="name"
                                                                                               value="${(device.name)!''}">
                                                                                    </td>
                                                                                    <td style="height: 55px">
                                                                                        <div>
                                                                                            <#if deviceTypes?has_content>
                                                                                                <select name="type"
                                                                                                        id="type"
                                                                                                        class="form-select form-select-md">
                                                                                                    <option selected
                                                                                                            value="${device.type.id}">
                                                                                                        ${(device.type.name)!''}</option>
                                                                                                    <#list deviceTypes as type>
                                                                                                        <option value=${type.id}>${type.name}</option>
                                                                                                    </#list>
                                                                                                </select>
                                                                                            </#if>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td><input type="text"
                                                                                               name="inventoryNumber"
                                                                                               value="${(device.inventoryNumber)!''}">
                                                                                    </td>
                                                                                    <td><input type="text"
                                                                                               name="serialNumber"
                                                                                               value="${(device.serialNumber)!''}">
                                                                                    </td>
                                                                                    <td><textarea required
                                                                                                  name="description"
                                                                                                  class="form-control"
                                                                                                  rows="4"
                                                                                                  cols="50">${(device.description)!""}</textarea>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <div class="d-flex justify-content-end">
                                                                                <button type="submit"
                                                                                        class="btn btn-primary"
                                                                                        style="width: 100px"
                                                                                        key="t-edit">Edit
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <#-- блок MinIO-->
                                                <div class="row js-minio">
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <img src="assets/images/files/upload-to-cloud.gif"
                                                                     alt="cloud" class="avatar-sm">
                                                                <h4 class="card-title" key="t-upload-file">Upload
                                                                    File</h4>
                                                                <#--                                                                    <form method="post"-->
                                                                <#--                                                                          action="/deviceMinio/upload/${device.id}"-->
                                                                <#--                                                                          enctype="multipart/form-data">-->
                                                                <#--                                                                        <input name="multipartFile" type="file"-->
                                                                <#--                                                                               multiple="multiple">-->
                                                                <#--                                                                        <input hidden name="bucketName"-->
                                                                <#--                                                                               type="text"-->
                                                                <#--                                                                               value=${device.folder}>-->
                                                                <#--                                                                        <button type="submit" key="t-send">Send</button>-->
                                                                <#--                                                                    </form>-->
                                                                <form class="upper-form-put" method="post"
                                                                      enctype="multipart/form-data">

                                                                    <div class="div-admin-form"
                                                                         style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

                                                                        <div style="display: flex"
                                                                             class="down-search-form">
                                                                            <div style="margin-right: 5px">
                                                                                <input class="form-control"
                                                                                       type="file"
                                                                                       name="multipartFile"
                                                                                       id="formFile"
                                                                                       multiple="multiple">
                                                                            </div>
                                                                            <div>
                                                                                <button style="height: 35px;display: flex; border: 2px solid; justify-content: center;align-items: center;min-width: 50px;background-color: lightslategray;"
                                                                                        type="submit"
                                                                                        class="btn link-trash waves-effect waves-light w-sm">
                                                                                    <i style="color: whitesmoke"
                                                                                       class="mdi mdi-archive-arrow-up font-size-22"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <#-- блок УДАЛЕНИЯ УТСРОЙСТВА-->
                                                <div class="d-flex justify-content-end">
                                                    <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
                                                        <button type="button" class="btn btn-danger"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#deleteDevice" key="t-delete">
                                                            Delete
                                                        </button>
                                                    </@security.authorize>

                                                    <div class="modal fade" id="deleteDevice"
                                                         data-bs-backdrop="static"
                                                         data-bs-keyboard="false" tabindex="-1"
                                                         aria-labelledby="deleteDeviceLabel"
                                                         aria-hidden="true" style="background-color: rgba(0,0,0,0.62)">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <form action="device/overview/${device.getId()}/delete"
                                                                      method="post">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="deleteDeviceLabel"
                                                                            key="t-delete-device">Do you
                                                                            really
                                                                            want
                                                                            to delete device?</h5>
                                                                        <button type="button"
                                                                                class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-danger"
                                                                                data-bs-dismiss="modal"
                                                                                key="t-no">No
                                                                        </button>
                                                                        <button type="submit"
                                                                                class="btn btn-success"
                                                                                key="t-yes">Yes
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <#-- блок ВЛОЖЕНИЙ-->
                            <div class="col-md-4">
                                <div class="card"
                                     style="border-top: 3px solid; border-radius: 0; display: flex; flex-direction: row; justify-content: space-around; padding: 20px; max-height: 796px; overflow-y: auto; overflow-x: hidden;">
                                    <div class="card-body" style="width: 390px">
                                        <div class="row" style="display:flex; justify-content: center">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/images/files/attachments.png" alt="folder" style="width: 48px; height: 48px">
                                                <h4 class="card-header bg-transparent" key="t-attachments">Attachments</h4>
                                            </div>
                                            <div class="table-responsive mt-4">
                                                <table class="table table-nowrap align-middle table-hover mb-0">
                                                    <tbody>
                                                    <#if deviceDocuments?has_content>
                                                        <#list deviceDocuments as document>
                                                            <tr>
                                                                <td><p class="mb-0">${document.id}</p></td>
                                                                <td>
                                                                    <div class="d-flex flex-column ps-2">
                                                                        <h5 class="font-size-14 mb-1"
                                                                            style="max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">${document.exchange}</h5>
                                                                        <div class="d-flex">
                                                                            <small key="t-size-field"
                                                                                   class="pe-1">Size:</small>
                                                                            <small>${document.size}</small>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <a href="/apiDocument/download/${document.id}/${document.folder.name}/${document.name}"
                                                                           class="text-dark">
                                                                            <img src="assets/images/files/download.png"
                                                                                 alt="download"
                                                                                 style="width: 25px; height: 25px"
                                                                                 data-toggle="tooltip"
                                                                                 title="Скачать файл">
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </#list>
                                                    </#if>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </#if>
                        <#-- блок КОММЕНТАРИЕВ-->
                        <div class="col-md-4">
                            <div class="card"
                                 style="border-top: 3px solid; border-radius: 0; display: flex; flex-direction: row; justify-content: space-around; padding: 20px; max-height: 796px; overflow-y: auto; overflow-x: hidden;">
                                <div class="card-body" style="width: 390px">
                                    <div class="row" style="display:flex; justify-content: center">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/comments/comments.png" alt="comments"
                                                 class="avatar-sm">
                                            <h4 class="card-header bg-transparent" key="t-comments">Comments</h4>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="mb-3" key="t-add-comment">Add Comment</h5>
                                            <form method="post" action="/device/addComment/${device.id}">
                                                <div class="mb-3">
                                                    <#--                                                        <label for="author" class="form-label"-->
                                                    <#--                                                               key="t-author">Author</label>-->
                                                    <#--                                                        <select id="author" name="author"-->
                                                    <#--                                                                class="form-select author-select" required>-->
                                                    <#--                                                            <option disabled selected value key="t-choose">Choose-->
                                                    <#--                                                            </option>-->
                                                    <#--                                                            <#list users as user>-->
                                                    <#--                                                                <option value="${user.id}">${user.name}</option>-->
                                                    <#--                                                            </#list>-->
                                                    <#--                                                        </select>-->

                                                    <input hidden name="author" id="author" type="number"
                                                           value=${(principal.getName())!''}>
                                                </div>
                                                <input type="hidden" name="device" value="${device.id}">
                                                <div class="mb-3">
                                                    <label for="comment-message-input"
                                                           class="form-label" key="t-comment">Comment</label>
                                                    <input type="text" name="comment" class="form-control"
                                                           id="comment-message-input"
                                                           placeholder="Ваш комментарий"
                                                           rows="3">
                                                </div>
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-primary w-sm" key="t-send">
                                                        Send
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="my-4">
                                            <div class="d-flex">
                                                <img src="assets/images/comments/comment-chat.png"
                                                     alt="comment-chat" style="width: 20px; height: 20px">
                                                <h5 class="ps-2 pb-4" key="t-comments-field">Comments:</h5>
                                            </div>
                                            <div>
                                                <#if listComments?has_content>
                                                    <#list listComments as comment>
                                                        <div class="d-flex pb-2">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar-xs">
                                                                    <div class="avatar-title rounded-circle bg-light text-primary">
                                                                        <img src="assets/images/users/user-comment.png"
                                                                             alt="user"
                                                                             style="width: 32px; height: 32px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <h6 class="my-1">${comment.author.fullName}</h6>
                                                                    <small class="text-muted float-end">${comment.createdDate.format(formatter)}</small>
                                                                </div>
                                                                <p class="text-muted mt-1">${comment.comment}</p>
                                                            </div>
                                                        </div>
                                                    </#list>
                                                </#if>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/uploadDevice.js"></script>

</@base.layout>