<#import "../index.ftlh" as base >

<#assign security=JspTaglibs["http://www.springframework.org/security/tags"]/>

<@base.layout title="Обзор контрагента - ${counterparty.name}">

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <#-- ДИРЕКТОРИЯ СТРАНИЦЫ-->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18" key="t-counterparty-overview">Обзор Контрагента</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item" key="t-counterparties">Контрагенты</li>
                                    <li class="breadcrumb-item"><a href="/counterparty/list"
                                                                   key="t-counterparty-list">Список Контрагентов</a>
                                    </li>
                                    <li class="breadcrumb-item active" key="t-counterparty-overview">Обзор Контрагента
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display: flex; flex-direction: row">
                    <#if counterparty?has_content>
                    <#-- КАРТОЧКА КОНТРАГЕНТА-->
                        <div class="col-md-4">
                            <div class="card"
                                 style="border-top: 3px solid; border-radius: 0; display: flex; flex-direction: row; justify-content: space-around; padding: 20px">
                                <div class="card-body">
                                    <div class="row" style="display:flex; justify-content: center">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/entities/counterparty.png"
                                                 alt="counterparty"
                                                 class="avatar-sm">
                                            <h4 class="card-header bg-transparent">${counterparty.name}</h4>
                                        </div>
                                        <div style="padding-left: 16px">
                                            <h5 class="font-size-15 pt-3" key="t-counterparty-details">
                                                Детали Контрагента:</h5>
                                            <#if counterparty.type.id = 1>
                                                <span class="badge bg-warning font-size-12">${counterparty.type.getName()}</span>
                                            <#else>
                                                <span class="badge bg-info font-size-12">${counterparty.type.getName()}</span>
                                            </#if>
                                        </div>
                                        <#-- блок ИНФОРМАЦИИ-->
                                        <div class="table-responsive mt-3">
                                            <table style="display: flex; margin: 0"
                                                   class="table align-middle">
                                                <thead>
                                                <tr style="display: flex; flex-direction: column">
                                                    <th style="border: 0; padding-left: 4px; height: 64px" key="t-address-field">
                                                        Адрес:
                                                    </th>
                                                    <th style="border: 0; padding-left: 4px; height: 64px"
                                                        key="t-contact-person-field">Контактное Лицо:
                                                    </th>
                                                    <th style="border: 0; padding-left: 4px; height: 64px" key="t-phone-field">
                                                        Телефон:
                                                    </th>
                                                    <th style="border: 0; padding-left: 4px; height: 64px" key="t-bin-field">
                                                        БИН/ИНН:
                                                    </th>
                                                    <th style="border: 0; padding-left: 4px; height: 64px" key="t-description-field">
                                                        Описание:
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr style="display: flex; flex-direction: column"
                                                    data-id="1">
                                                    <td data-field="address"
                                                        style="border: 0; height: 64px">${counterparty.address}</td>
                                                    <td data-field="contactName"
                                                        style="border: 0; height: 64px">${counterparty.contactName}</td>
                                                    <td data-field="phoneNumber"
                                                        style="border: 0; height: 64px">${counterparty.phoneNumber}</td>
                                                    <td data-field="bin" style="border: 0; height: 64px"><a
                                                                target="_blank"
                                                                href="https://pk.uchet.kz/c/search/?search=${counterparty.bin}"
                                                                data-toggle="tooltip"
                                                                title="Проверить БИН"
                                                                class="table">${counterparty.bin}</a>
                                                    </td>
                                                    <td data-field="description"
                                                        style="border: 0; height: 64px">${counterparty.description}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <#-- блок MinIO-->
                                        <div class="card-body">
                                            <img src="assets/images/files/upload-to-cloud.gif"
                                                 alt="cloud" class="avatar-sm">
                                            <h4 class="card-title" key="t-upload-file">Загрузить файл</h4>
                                            <form class="upper-form-put" method="post"
                                                  enctype="multipart/form-data">
                                                <div class="div-admin-form">
                                                    <div style="display: flex"
                                                         class="down-search-form">
                                                        <div style="margin-right: 5px">
                                                            <input class="form-control"
                                                                   type="file"
                                                                   name="multipartFile"
                                                                   id="formFile"
                                                                   multiple="multiple">
                                                        </div>
                                                        <div>
                                                            <button style="height: 35px;display: flex; border: 2px solid; justify-content: center;align-items: center;min-width: 50px;background-color: lightslategray;"
                                                                    type="submit"
                                                                    class="btn link-trash waves-effect waves-light w-sm">
                                                                <i style="color: whitesmoke"
                                                                   class="mdi mdi-archive-arrow-up font-size-22"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <#-- кнопки ИЗМЕНЕНИЯ и УДАЛЕНИЯ КОНТРАГЕНТА-->
                                        <div class="d-flex flex-column">
                                            <div class="d-flex justify-content-end mt-3 mb-2">
                                                <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
                                                    <button type="button" class="btn btn-primary"
                                                            style="width: 85px"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#editCounterparty" key="t-edit">
                                                        Изменить
                                                    </button>
                                                </@security.authorize>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <@security.authorize access="hasAuthority('ADMIN')">
                                                    <button type="button" class="btn btn-danger"
                                                            style="width: 85px"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#deleteCounterparty" key="t-delete">
                                                        Удалить
                                                    </button>
                                                </@security.authorize>
                                            </div>
                                            <#-- модальное окно РЕДАКТИРОВАНИЯ КОНТРАГЕНТА-->
                                            <div class="modal fade" id="editCounterparty"
                                                 data-bs-backdrop="static"
                                                 data-bs-keyboard="false" tabindex="-1"
                                                 aria-labelledby="editCounterpartyLabel" aria-hidden="true"
                                                 style="background-color: rgba(0,0,0,0.62);">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <div class="d-sm-flex">
                                                                <h6 class="modal-title text-uppercase fw-bold pe-1"
                                                                    id="editCounterparty" key="t-edit">
                                                                    Изменить</h6>
                                                                <h6 class="modal-title text-uppercase fw-bold text-info">${counterparty.name}</h6>
                                                            </div>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="table-responsive">
                                                                <form action="/counterparty/overview/${counterparty.id}/edit"
                                                                      method="post">
                                                                    <table class="table table-editable table-nowrap align-middle table-edits d-flex">
                                                                        <thead>
                                                                        <tr class="d-flex flex-column">
                                                                            <th key="t-name-field"
                                                                                style="height: 55px; border: 0">
                                                                                Наименование:
                                                                            </th>
                                                                            <th key="t-type-field"
                                                                                style="height: 55px; border: 0">
                                                                                Тип:
                                                                            </th>
                                                                            <th key="t-address-field"
                                                                                style="height: 55px; border: 0">
                                                                                Адрес:
                                                                            </th>
                                                                            <th key="t-contact-person-field"
                                                                                style="height: 55px; border: 0">
                                                                                Контактное Лицо:
                                                                            </th>
                                                                            <th key="t-phone-field"
                                                                                style="height: 55px; border: 0">
                                                                                <label
                                                                                        for="phoneNumber">Телефон:</label>
                                                                            </th>
                                                                            <th key="t-bin-field"
                                                                                style="height: 55px; border: 0">
                                                                                БИН/ИНН:
                                                                            </th>
                                                                            <th key="t-description-field"
                                                                                style="height: 118px; border: 0">
                                                                                Описание:
                                                                            </th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr class="d-flex flex-column">
                                                                            <td style="border: 0"><input
                                                                                        type="text"
                                                                                        name="name"
                                                                                        class="form-control"
                                                                                        minlength="3" maxlength="50"
                                                                                        value="${(counterparty.name)!''}">
                                                                            </td>
                                                                            <td style="height: 55px; border: 0">
                                                                                <div>
                                                                                    <#if counterparties.listType()?has_content>
                                                                                        <select name="type"
                                                                                                id="type"
                                                                                                class="form-select form-select-md">
                                                                                            <option selected
                                                                                                    value="${counterparty.type.id}">
                                                                                                ${(counterparty.type.name)!''}</option>
                                                                                            <#list counterparties.listType() as type>
                                                                                                <option value=${type.id}>${type.name}</option>
                                                                                            </#list>
                                                                                        </select>
                                                                                    </#if>
                                                                                </div>
                                                                            </td>
                                                                            <td style="border: 0"><input
                                                                                        type="text"
                                                                                        name="address"
                                                                                        class="form-control" minlength="3"
                                                                                        maxlength="50"
                                                                                        value="${(counterparty.address)!''}">
                                                                            </td>
                                                                            <td style="border: 0"><input
                                                                                        type="text"
                                                                                        name="contactName"
                                                                                        class="form-control"
                                                                                        minlength="3" maxlength="30"
                                                                                        value="${(counterparty.contactName)!''}">
                                                                            </td>
                                                                            <td style="border: 0"><input
                                                                                        type="text"
                                                                                        name="phoneNumber"
                                                                                        class="phoneNumber form-control"
                                                                                        placeholder="+7(700)000-00-00"
                                                                                        value="${(counterparty.phoneNumber)!''}">
                                                                            </td>
                                                                            <td style="border: 0"><input
                                                                                        type="text"
                                                                                        name="bin"
                                                                                        class="form-control"
                                                                                        minlength="12" maxlength="12"
                                                                                        value="${(counterparty.bin)!''}">
                                                                            </td>
                                                                            <td style="border: 0"><textarea
                                                                                        required
                                                                                        name="description"
                                                                                        class="form-control"
                                                                                        rows="4" cols="50"
                                                                                minlength="3" maxlength="200">${(counterparty.description)!""}</textarea>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <div class="d-flex justify-content-end">
                                                                        <button type="submit"
                                                                                class="btn btn-primary"
                                                                                style="width: 100px"
                                                                                key="t-edit">Изменить
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <#-- модальное окно УДАЛЕНИЯ КОНТРАГЕНТА-->
                                            <div class="modal fade" id="deleteCounterparty"
                                                 data-bs-backdrop="static"
                                                 data-bs-keyboard="false" tabindex="-1"
                                                 aria-labelledby="deleteCounterpartyLabel"
                                                 aria-hidden="true"
                                                 style="background-color: rgba(0,0,0,0.62);">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <form action="counterparty/overview/${counterparty.id}/remove"
                                                              method="post">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="deleteCounterparty"
                                                                    key="t-delete-counterparty">Вы действительно
                                                                    хотите удалить контрагента?</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger"
                                                                        data-bs-dismiss="modal" key="t-no">
                                                                    Нет
                                                                </button>
                                                                <button type="submit"
                                                                        class="btn btn-primary"
                                                                        key="t-yes">Да
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <#-- блок АДРЕСОВ-->
                        <div class="col-md-4">
                            <div class="card"
                                 style="border-top: 3px solid; border-radius: 0; display: flex; flex-direction: row; justify-content: space-around; padding: 20px; max-height: 774px; overflow-y: auto; overflow-x: hidden;">
                                <div class="card-body" style="width: 390px">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/locations/geotag.png"
                                             alt="geotag" class="avatar-sm" style="margin-left: -10px">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h4 class="ps-2 bg-transparent m-0" key="t-locations">Локации</h4>
                                        </div>
                                    </div>
                                    <#-- кнопка для СОЗДАНИЯ ЛОКАЦИИ-->
                                    <div class="mt-4">
                                        <button type="button" class="btn btn-primary font-size-12"
                                                data-bs-toggle="modal"
                                                data-bs-target="#addLocation" style="width: 138px"
                                                title="Если в списке локаций нет необходимой, создайте новую"
                                                key="t-create-location">Создать Локацию
                                        </button>
                                    </div>
                                    <#-- модальное окно ДОБАВЛЕНИЯ ЛОКАЦИИ-->
                                    <div class="modal fade" id="addLocation" data-bs-backdrop="static"
                                         data-bs-keyboard="false" tabindex="-1"
                                         aria-labelledby="addLocationLabel" aria-hidden="true"
                                         style="background-color: rgba(0,0,0,0.62);">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title text-uppercase fw-bold"
                                                        id="addLocation" key="t-create-new-location">создать
                                                        новую локацию</h6>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/counterparty/overview/${counterparty.id}/add-location"
                                                          method="post">
                                                        <div class="mb-2">
                                                            <label class="form-label" style="font-weight: bold"
                                                                   for="address"
                                                                   key="t-address-field">Адрес:</label>
                                                            <input minlength="3" maxlength="50" type="text"
                                                                   class="form-control"
                                                                   name="address" id="address"
                                                                   placeholder="Введите адрес">
                                                        </div>
                                                        <div class="mb-2">
                                                            <label class="form-label" style="font-weight: bold"
                                                                   for="contactName"
                                                                   key="t-contact-person-field">Контактное
                                                                Лицо:</label>
                                                            <input minlength="3" maxlength="30" type="text"
                                                                   name="contactName"
                                                                   class="form-control" id="contactName"
                                                                   placeholder="Введите фамилию и имя контактного лица">
                                                        </div>
                                                        <div class="mb-2">
                                                            <label class="form-label" style="font-weight: bold"
                                                                   for="phoneNumber"
                                                                   key="t-phone-field">Телефон:</label>
                                                            <input type="text" name="phoneNumber"
                                                                   class="phoneNumber form-control"
                                                                   placeholder="+7(700)000-00-00">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label style="font-weight: bold" for="object"
                                                                   key="t-object-field">Объект:</label>
                                                            <#if objects?has_content>
                                                                <div>
                                                                    <select class="form-select mb-3 text-muted"
                                                                            name="objectId" id="object">
                                                                        <option value="" selected
                                                                                key="t-choose-object">Выберите
                                                                            объект
                                                                        </option>
                                                                        <#list objects.getListObject() as object>
                                                                            <option value=${object.id}>${object.name}</option>
                                                                        </#list>
                                                                    </select>
                                                                </div>
                                                            </#if>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label style="font-weight: bold" for="counterparty"
                                                                   key="t-counterparty-field">Контрагент:</label>
                                                            <#if counterparties?has_content>
                                                                <div>
                                                                    <select class="form-select text-muted mb-3"
                                                                            name="counterpartyId"
                                                                            id="counterparty">
                                                                        <option value="" selected
                                                                                key="t-choose-counterparty">
                                                                            Выберите контрагента
                                                                        </option>
                                                                        <#list counterparties.getAll() as counterparty>
                                                                            <option value=${counterparty.id}>${counterparty.name}</option>
                                                                        </#list>
                                                                    </select>
                                                                </div>
                                                            </#if>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary"
                                                                key="t-create-location">Создать Локацию
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary"
                                                            data-bs-target="#addObject"
                                                            data-bs-toggle="modal" data-bs-dismiss="modal"
                                                            key="t-create-object">
                                                        Создать Объект
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <#-- модальное окно ДОБАВЛЕНИЯ ОБЪЕКТА-->
                                    <div class="modal fade" id="addObject" data-bs-backdrop="static"
                                         data-bs-keyboard="false" tabindex="-1"
                                         aria-labelledby="addObjectLabel"
                                         aria-hidden="true"
                                         style="background-color: rgba(0,0,0,0.62);">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title text-uppercase fw-bold"
                                                        id="addObject" key="t-create-new-object">создать новый
                                                        объект</h6>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/counterparty/overview/${counterparty.id}/add-object"
                                                          method="post">
                                                        <div class="mb-2">
                                                            <label class="form-label" style="font-weight: bold"
                                                                   for="name"
                                                                   key="t-object-field">Объект:</label>
                                                            <input minlength="3" maxlength="30" type="text"
                                                                   class="form-control"
                                                                   name="name" id="name"
                                                                   placeholder="Введите наименование">
                                                        </div>
                                                        <div class="mb-2">
                                                            <label class="form-label" style="font-weight: bold"
                                                                   for="address"
                                                                   key="t-address-field">Адрес:</label>
                                                            <input minlength="3" maxlength="50" type="text"
                                                                   name="address"
                                                                   class="form-control" id="address"
                                                                   placeholder="Введите адрес">
                                                        </div>
                                                        <button type="submit"
                                                                class="btn btn-primary mt-2"
                                                                key="t-create-object">Создать Объект
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary"
                                                            data-bs-target="#addLocation"
                                                            data-bs-toggle="modal"
                                                            data-bs-dismiss="modal"
                                                            key="t-back-to-location">
                                                        Назад к Локации
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <#if locations.getLocationsSize(counterparty.id) = 0>
                                        <h5 class="font-size-14 mt-4" key="t-has-no-locations">У контрагента
                                            нет ни одной локации</h5>
                                    <#else>
                                    <#-- ОБЩЕЕ КОЛИЧЕСТВО ЛОКАЦИЙ у КОНТРАГЕНТА-->
                                        <div class="d-flex align-items-center mt-4">
                                            <h5><span class="ps-2 badge badge-soft-info font-size-12"
                                                      key="t-total-locations">Всего
                                                                локаций:</span></h5>
                                            <h5>
                                                <span class="ms-1 badge badge-soft-info font-size-12">${locations.getLocationsSize(counterparty.id)}</span>
                                            </h5>
                                        </div>
                                    </#if>
                                    <div class="mb-4">
                                        <div class="accordion" id="accordionExample">
                                            <#if counterparties.getAllLocationsByCounterparty(counterparty.id)?has_content>
                                                <#list counterparties.getAllLocationsByCounterparty(counterparty.id) as location>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="heading${location.id}">
                                                            <button class="accordion-button fw-medium"
                                                                    type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse${location.id}"
                                                                    aria-expanded="true"
                                                                    aria-controls="collapse${location.id}">
                                                                ${location.address}
                                                            </button>
                                                        </h2>
                                                        <div id="collapse${location.id}"
                                                             class="accordion-collapse collapse"
                                                             aria-labelledby="heading${location.id}"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <div style="padding-bottom: 15px">
                                                                    <span>
                                                                        <strong key="t-address-field">Адрес:</strong>
                                                                        <a href="/location/overview/${location.id}"
                                                                           class="table" data-toggle="tooltip"
                                                                           title="Перейти к профилю локации"> ${location.address}</a>
                                                                    </span><br>
                                                                    <span>
                                                                        <strong key="t-contact-person-field">Контактное Лицо:</strong> ${location.contactName}</span><br>
                                                                    <span><strong
                                                                                key="t-phone-field">Телефон:</strong> ${location.phoneNumber}</span><br>
                                                                    <#if location.object??>
                                                                        <span>
                                                                                        <strong key="t-object-field">Объект:</strong><a
                                                                                    href="/object/overview/${location.object.id}"
                                                                                    class="table"
                                                                                    data-toggle="tooltip"
                                                                                    title="Перейти к профилю объекта"> ${location.object.name}</a>
                                                                                    </span>
                                                                    <#else>
                                                                        <span>
                                                                                        <strong key="t-object-field">Объект:</strong>Локальный
                                                                                    </span>
                                                                    </#if>
                                                                </div>
                                                                <div style="display:flex;justify-content: space-around;">
                                                                    <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
                                                                    <#-- кнопки РЕДАКТИРОВАНИЯ и УДАЛЕНИЯ ЛОКАЦИИ-->
                                                                        <button style="font-size: 11px; padding: 0 5px"
                                                                                type="button"
                                                                                class="btn btn-primary waves-effect waves-light"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#editLocation${location.id}"
                                                                                key="t-edit">Изменить
                                                                        </button>
                                                                    <#--                                                                        <button style="font-size: 11px; padding: 0 5px"-->
                                                                    <#--                                                                                type="button"-->
                                                                    <#--                                                                                class="btn btn-danger"-->
                                                                    <#--                                                                                data-bs-target="#deleteLocation${location.id}"-->
                                                                    <#--                                                                                data-bs-toggle="modal"-->
                                                                    <#--                                                                                key="t-delete">Удалить-->
                                                                    <#--                                                                        </button>-->
                                                                    </@security.authorize>
                                                                    <#-- модальное окно РЕДАКТИРОВАНИЯ ЛОКАЦИИ-->
                                                                    <div class="modal fade"
                                                                         id="editLocation${location.id}"
                                                                         data-bs-backdrop="static"
                                                                         data-bs-keyboard="false"
                                                                         tabindex="-1"
                                                                         aria-labelledby="editLocationLabel"
                                                                         aria-hidden="true"
                                                                         style="background-color: rgba(0,0,0,0.62);">
                                                                        <div class="modal-dialog modal-dialog-centered">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <div class="d-flex">
                                                                                        <h6 class="modal-title text-uppercase fw-bold"
                                                                                            id="editLocation${location.id}"
                                                                                            key="t-edit">
                                                                                            Изменить</h6>
                                                                                        <h6 class="modal-title text-uppercase fw-bold ps-1 text-info">${location.address}</h6>
                                                                                    </div>
                                                                                    <button type="button"
                                                                                            class="btn-close"
                                                                                            data-bs-dismiss="modal"
                                                                                            aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <div class="table-responsive">
                                                                                        <form action="/counterparty/overview/${location.id}/edit-location"
                                                                                              method="post">
                                                                                            <table class="table table-editable table-nowrap align-middle table-edits d-flex">
                                                                                                <thead>
                                                                                                <tr class="d-flex flex-column">
                                                                                                    <th key="t-address-field"
                                                                                                        style="height: 55px; border: 0">
                                                                                                        Адрес:
                                                                                                    </th>
                                                                                                    <th key="t-contact-person-field"
                                                                                                        style="height: 55px; border: 0">
                                                                                                        Контактное
                                                                                                        Лицо:
                                                                                                    </th>
                                                                                                    <th key="t-phone-field"
                                                                                                        style="height: 55px; border: 0">
                                                                                                        Телефон:
                                                                                                    </th>
                                                                                                    <th key="t-object-field"
                                                                                                        style="height: 55px; border: 0">
                                                                                                        Объект:
                                                                                                    </th>
                                                                                                </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                <tr class="d-flex flex-column">
                                                                                                    <td style="height: 55px; border: 0">
                                                                                                        <input type="text"
                                                                                                               name="address" class="form-control"
                                                                                                               minlength="3" maxlength="50"
                                                                                                               value="${(location.address)!''}">
                                                                                                    </td>
                                                                                                    <td style="height: 55px; border: 0">
                                                                                                        <input type="text"
                                                                                                               name="contactName"
                                                                                                               class="form-control"
                                                                                                               minlength="3" maxlength="30"
                                                                                                               value="${(location.contactName)!''}">
                                                                                                    </td>
                                                                                                    <td style="height: 55px; border: 0">
                                                                                                        <input type="text"
                                                                                                               name="phoneNumber"
                                                                                                               class="phoneNumber form-control"
                                                                                                               id="phoneNumber"
                                                                                                               placeholder="+7(700)000-00-00"
                                                                                                               value="${(location.phoneNumber)!''}">
                                                                                                    </td>
                                                                                                    <td style="height: 55px; border: 0">
                                                                                                        <#if location.object?has_content>
                                                                                                            <select name="object"
                                                                                                                    id="object"
                                                                                                                    class="form-select form-select-md">
                                                                                                                <option selected
                                                                                                                        value="${location.object.id}">
                                                                                                                    ${(location.object.name)!''}</option>
                                                                                                                <#list objects.getListObject() as object>
                                                                                                                    <option value=${object.id}>${object.name}</option>
                                                                                                                </#list>
                                                                                                            </select>
                                                                                                        <#else>
                                                                                                            <select name="object"
                                                                                                                    id="object"
                                                                                                                    class="form-select form-select-md">
                                                                                                                <option selected
                                                                                                                        value=""
                                                                                                                        key="t-choose-object">
                                                                                                                    Выберите
                                                                                                                    объект
                                                                                                                </option>
                                                                                                                <#list objects.getListObject() as object>
                                                                                                                    <option value=${object.id}>${object.name}</option>
                                                                                                                </#list>
                                                                                                            </select>
                                                                                                        </#if>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <div class="d-flex justify-content-end">
                                                                                                <button type="submit"
                                                                                                        class="btn btn-primary"
                                                                                                        style="width: 100px"
                                                                                                        key="t-edit">
                                                                                                    Изменить
                                                                                                </button>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <#-- модальное окно УДАЛЕНИЯ ЛОКАЦИИ-->
                                                                    <div class="modal fade"
                                                                         id="deleteLocation${location.id}"
                                                                         data-bs-backdrop="static"
                                                                         data-bs-keyboard="false"
                                                                         tabindex="-1"
                                                                         aria-labelledby="staticBackdropLabel"
                                                                         aria-hidden="true"
                                                                         style="background-color: rgba(0,0,0,0.62);">
                                                                        <div class="modal-dialog modal-dialog-centered">
                                                                            <div class="modal-content">
                                                                                <form action="counterparty/overview/${counterparty.id}/delete-location/${location.id}"
                                                                                      method="post">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title"
                                                                                            id="deleteLocation${location.id}"
                                                                                            key="t-delete-location">
                                                                                            Вы действительно
                                                                                            хотите удалить
                                                                                            локацию?</h5>
                                                                                        <button type="button"
                                                                                                class="btn-close"
                                                                                                data-bs-dismiss="modal"
                                                                                                aria-label="Close"></button>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button"
                                                                                                class="btn btn-danger"
                                                                                                data-bs-dismiss="modal"
                                                                                                key="t-no">
                                                                                            Нет
                                                                                        </button>
                                                                                        <button type="submit"
                                                                                                class="btn btn-primary"
                                                                                                key="t-yes">
                                                                                            Да
                                                                                        </button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </#list>
                                            </#if>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <#-- список ВЛОЖЕНИЙ-->
                        <div class="col-md-4">
                            <div class="card"
                                 style="border-top: 3px solid; border-radius: 0; padding: 20px; max-height: 774px; overflow-y: auto; overflow-x: hidden;">
                                <div class="card-body">
                                    <div class="row" style="display:flex; justify-content: center">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/files/attachments.png" alt="folder"
                                                 style="width: 48px; height: 48px">
                                            <div class="d-flex flex-column ms-3">
                                                <h4 class="card-header bg-transparent p-0" key="t-attachments">
                                                    Вложенные файлы</h4>
                                            </div>
                                        </div>
                                        <#-- ОБЩЕЕ КОЛИЧЕСТВО ВЛОЖЕНИЙ у КОНТРАГЕНТА-->
                                        <#if counterparties.getAttachmentsCount(counterparty.id) = 0>
                                            <h5 class="font-size-14 mt-4" key="t-has-no-attachments">У контрагента
                                                нет вложений</h5>
                                        <#else>
                                            <div class="d-flex align-items-center mt-4">
                                                <h5><span class="badge badge-soft-info font-size-12"
                                                          key="t-total-attachments">Всего вложений:</span></h5>
                                                <h5>
                                                    <span class="ms-1 badge badge-soft-info">${counterparties.getAttachmentsCount(counterparty.id)}</span>
                                                </h5>
                                            </div>
                                            <div class="mb-4">
                                                <div class="table-responsive">
                                                    <table class="table align-middle table-hover mb-0">
                                                        <tbody>
                                                        <#-- список ВЛОЖЕНИЙ-->
                                                        <#if counterparties.getListDocument(counterparty.id)?has_content>
                                                            <#list counterparties.getListDocument(counterparty.id) as document>
                                                                <tr>
                                                                    <td><p class="mb-0">${document?counter}</p></td>
                                                                    <td>
                                                                        <div class="d-flex flex-column ps-2">
                                                                            <@security.authorize access="hasAnyAuthority('ADMIN', 'USER')">
                                                                                <h5 class="font-size-14 mb-1">
                                                                                    <a href="/documentView/${document.id}"
                                                                                       class="text-dark" data-toggle="tooltip" title="Перейти к профилю документа">${document.exchange}</a>
                                                                                </h5>
                                                                            </@security.authorize>
                                                                            <@security.authorize access="hasAnyAuthority('EXECUTOR', 'MANAGER', 'ACCOUNTANT')">
                                                                                <h5 class="font-size-14 mb-1">${document.exchange}</h5>
                                                                            </@security.authorize>
                                                                            <div class="d-flex">
                                                                                <small key="t-size-field"
                                                                                       class="pe-1">Размер:</small>
                                                                                <#if (document.size>=0 && document.size<=1000000)>
                                                                                    <small>${document.roundedKBSize}KB</small>
                                                                                <#elseif (document.size>1000000 && document.size<=1000000000)>
                                                                                    <small>${document.roundedMBSize}MB</small>
                                                                                </#if>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex align-items-center justify-content-end">
                                                                            <a href="/apiDocument/download/${document.id}/${document.folder.name}/${document.name}"
                                                                               class="text-dark">
                                                                                <img src="assets/images/files/download.png"
                                                                                     alt="download"
                                                                                     style="width: 20px; height: 20px"
                                                                                     data-toggle="tooltip"
                                                                                     title="Скачать файл">
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </#list>
                                                        </#if>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </#if>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </#if>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/uploadCounterparty.js"></script>

    <script src="/assets/js/imask.js"></script>
<#--    <script>-->
<#--        const phoneNumber = document.getElementsByClassName('.phoneNumber');-->
<#--        const maskOptions = {-->
<#--            mask: '+{7}(000)000-00-00'-->
<#--        };-->
<#--        IMask(phoneNumber, maskOptions);-->
<#--    </script>-->

<#-- скрипт изменен для нескольких идентичных инпутов-->
    <script>
        const phoneMaskSelector = '.phoneNumber';
        const phoneMaskInputs = document.querySelectorAll(phoneMaskSelector);

        const masksOptions = {
            phone: {
                mask: '+{7}(700)000-00-00'
            }
        };
        for (const item of phoneMaskInputs) {
            new IMask(item, masksOptions.phone);
        }
    </script>

</@base.layout>