<#import "../index.ftlh" as base >

<@base.layout title="Доступ запрещен">

    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 fw-medium">403</h1>
                        <h4 class="text-uppercase" key="t-access-denied">У Вас нет доступа к данной странице</h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="assets/images/error-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

</@base.layout>