<#macro layout title="RLine Office" styles="" link="">


    <!doctype html>
    <html lang="en">

    <head>

        <meta charset="utf-8"/>
        <title>${title}</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
        <meta content="Themesbrand" name="author"/>
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- datepicker css -->
        <link href="assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
        <link href="assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css"/>

        <link href="assets/libs/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css"/>
        <link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css"/>

        <link href="assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>


        <#--        <link href="assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">-->
        <link href="assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
        <link href="assets/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
        <link href="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet"
              type="text/css"/>
        <link rel="stylesheet" href="assets/libs/@chenfengyuan/datepicker/datepicker.min.css">

        <!-- DataTables -->
        <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

        <!-- Responsive datatable examples -->
        <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
              type="text/css"/>
        <!-- myStyle Css-->
        <link href="assets/css/myStyle.css" rel="stylesheet" type="text/css"/>

        <#assign security=JspTaglibs["http://www.springframework.org/security/tags"]/>

        <#if styles?has_content>
            <#list styles as style>
                <link href="${style}" rel="stylesheet" type="text/css">
            </#list>
        </#if>

    </head>

    <body data-sidebar="dark">

    <div class="mask">
        <div class="loader"></div>
    </div>

    <div id="layout-wrapper">

        <#-- HEADER-->
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="mask2">
                    <div class="loader2"></div>
                </div>

                <!-- LOGO -->
                <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
                    <div class="d-flex">
                        <div class="navbar-brand-box">
                            <a href="/" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logoRline_sm.png" alt="logo" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logoRline.png" alt="logo" height="30">
                                </span>
                            </a>

                            <a href="/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logoRline_sm.png" alt="logo" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logoRline.png" alt="logo" height="30">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                                id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                    </div>
                </@security.authorize>

                <!-- LOGO без левого бара для АНОНИМНЫХ пользователей-->
                <@security.authorize access="isAnonymous() or hasAnyAuthority('ACCOUNTANT', 'EXECUTOR', 'USER')">
                    <div class="d-flex">
                        <div>
                            <a href="/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logoRline_sm.png" alt="logo" height="26" class="ps-4">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logoRline.png" alt="logo" height="30" class="ps-4">
                                </span>
                            </a>
                        </div>
                    </div>
                </@security.authorize>

                <!-- LOGO без левого бара для EXECUTOR-->
                <#--                <@security.authorize access="hasAnyAuthority('ACCOUNTANT', 'EXECUTOR')">-->
                <#--                    <div class="d-flex">-->
                <#--                        <div>-->
                <#--                            <a href="/" class="logo logo-light">-->
                <#--                                <span class="logo-sm">-->
                <#--                                    <img src="assets/images/logoRline_sm.png" alt="logo" height="26" class="ps-4">-->
                <#--                                </span>-->
                <#--                                <span class="logo-lg">-->
                <#--                                    <img src="assets/images/logoRline.png" alt="logo" height="30"-->
                <#--                                         style="padding-left: 20px;">-->
                <#--                                </span>-->
                <#--                            </a>-->
                <#--                        </div>-->
                <#--                    </div>-->
                <#--                </@security.authorize>-->

                <#-- ФУНКЦИОНАЛ В ХИДЕРЕ-->
                <div class="d-flex">

                    <#--                    <div class="dropdown d-inline-block d-lg-none ms-2">-->
                    <#--                        <button type="button" class="btn header-item noti-icon waves-effect"-->
                    <#--                                id="page-header-search-dropdown"-->
                    <#--                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <#--                            <i class="mdi mdi-magnify"></i>-->
                    <#--                        </button>-->
                    <#--                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"-->
                    <#--                             aria-labelledby="page-header-search-dropdown">-->

                    <#--                            <form class="p-3">-->
                    <#--                                <div class="form-group m-0">-->
                    <#--                                    <div class="input-group">-->
                    <#--                                        <input type="text" class="form-control" placeholder="Search ..."-->
                    <#--                                               aria-label="Recipient's username">-->
                    <#--                                        <div class="input-group-append">-->
                    <#--                                            <button class="btn btn-primary" type="submit"><i-->
                    <#--                                                        class="mdi mdi-magnify"></i></button>-->
                    <#--                                        </div>-->
                    <#--                                    </div>-->
                    <#--                                </div>-->
                    <#--                            </form>-->
                    <#--                        </div>-->
                    <#--                    </div>-->

                    <#-- ЯЗЫКИ-->
                    <div class="dropdown d-inline-block align-items-center">
                        <button type="button" class="btn header-item waves-effect" style="padding-bottom: 13px;"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="header-lang-img" src="assets/images/flags/russia.jpg" alt="Header Language"
                                 height="16">
                        </button>
                        <div class="dropdown-menu dropdown-menu-end mt-2">
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="en">
                                <img src="assets/images/flags/us.jpg" alt="flag" height="12"> <span
                                        class="align-middle" key="t-english">Английский</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru">
                                <img src="assets/images/flags/russia.jpg" alt="flag" height="12">
                                <span class="align-middle" key="t-russian">Русский</span>
                            </a>
                        </div>
                    </div>

                    <#-- ПОЛНЫЙ ЭКРАН-->
                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                                data-bs-toggle="fullscreen">
                            <i class="bx bx-fullscreen"></i>
                        </button>
                    </div>

                    <#-- ГЛОБАЛЬНОЕ СОЗДАНИЕ СУЩНОСТЕЙ-->
                    <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    data-toggle="tooltip"
                                    title="Создать новые сущности">
                                <i class="bx bx-plus"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end mt-2">
                                <a class="dropdown-item create-plus" href="/counterparty/create">
                                    <i class="bx bx-briefcase-alt-2 pe-2"></i>
                                    <span key="t-create-counterparty">Создать Контрагента</span>
                                </a>
                                <a class="dropdown-item create-plus" href="/object/create">
                                    <i class="bx bx-map pe-2"></i>
                                    <span key="t-create-object">Создать Объект</span>
                                </a>
                                <a class="dropdown-item create-plus" href="/location/create">
                                    <i class="bx bx-map pe-2"></i>
                                    <span key="t-create-location">Создать Локацию</span>
                                </a>
                                <a class="dropdown-item create-plus" href="/project/create">
                                    <i class="bx bx-briefcase-alt-2 pe-2"></i>
                                    <span key="t-create-project">Создать Проект</span>
                                </a>
                                <a class="dropdown-item create-plus" href="/device/add">
                                    <i class="bx bx-devices pe-2"></i>
                                    <span key="t-create-device">Создать Устройство</span>
                                </a>
                                <a class="dropdown-item create-plus" href="/applications/add">
                                    <i class="bx bx-task pe-2"></i>
                                    <span key="t-create-application">Создать Заявку</span>
                                </a>
                            </div>
                        </div>
                    </@security.authorize>

                    <#-- ГЛОБАЛЬНОЕ СОЗДАНИЕ ЗАЯВКИ-->
                    <@security.authorize access="hasAuthority('EXECUTOR')">
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    data-toggle="tooltip"
                                    title="Создать заявку">
                                <i class="bx bx-plus"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end mt-2">
                                <a class="dropdown-item create-plus" href="/applications/add">
                                    <i class="bx bx-task pe-2"></i>
                                    <span key="t-create-application">Создать Заявку</span>
                                </a>
                            </div>
                        </div>
                    </@security.authorize>

                    <#--                    <div class="dropdown d-none d-lg-inline-block ms-1">-->
                    <#--                        <button type="button" class="btn header-item noti-icon waves-effect"-->
                    <#--                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <#--                            <i class="bx bx-customize"></i>-->
                    <#--                        </button>-->
                    <#--                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">-->
                    <#--                            <div class="px-lg-2">-->
                    <#--                                <div class="row g-0">-->
                    <#--                                    <div class="col">-->
                    <#--                                        <a class="dropdown-icon-item" href="#">-->
                    <#--                                            <img src="assets/images/brands/github.png" alt="Github">-->
                    <#--                                            <span>GitHub</span>-->
                    <#--                                        </a>-->
                    <#--                                    </div>-->
                    <#--                                    <div class="col">-->
                    <#--                                        <a class="dropdown-icon-item" href="#">-->
                    <#--                                            <img src="assets/images/brands/bitbucket.png" alt="bitbucket">-->
                    <#--                                            <span>Bitbucket</span>-->
                    <#--                                        </a>-->
                    <#--                                    </div>-->
                    <#--                                    <div class="col">-->
                    <#--                                        <a class="dropdown-icon-item" href="#">-->
                    <#--                                            <img src="assets/images/brands/dribbble.png" alt="dribbble">-->
                    <#--                                            <span>Dribbble</span>-->
                    <#--                                        </a>-->
                    <#--                                    </div>-->
                    <#--                                </div>-->

                    <#--                                <div class="row g-0">-->
                    <#--                                    <div class="col">-->
                    <#--                                        <a class="dropdown-icon-item" href="#">-->
                    <#--                                            <img src="assets/images/brands/dropbox.png" alt="dropbox">-->
                    <#--                                            <span>Dropbox</span>-->
                    <#--                                        </a>-->
                    <#--                                    </div>-->
                    <#--                                    <div class="col">-->
                    <#--                                        <a class="dropdown-icon-item" href="#">-->
                    <#--                                            <img src="assets/images/brands/mail_chimp.png" alt="mail_chimp">-->
                    <#--                                            <span>Mail Chimp</span>-->
                    <#--                                        </a>-->
                    <#--                                    </div>-->
                    <#--                                    <div class="col">-->
                    <#--                                        <a class="dropdown-icon-item" href="#">-->
                    <#--                                            <img src="assets/images/brands/slack.png" alt="slack">-->
                    <#--                                            <span>Slack</span>-->
                    <#--                                        </a>-->
                    <#--                                    </div>-->
                    <#--                                </div>-->
                    <#--                            </div>-->
                    <#--                        </div>-->
                    <#--                    </div>-->

                    <#-- УВЕДОМЛЕНИЯ-->
                    <#--                    <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER', 'EXECUTOR', 'USER')">-->
                    <#--                        <div class="dropdown d-inline-block">-->
                    <#--                            <button type="button" class="btn header-item noti-icon waves-effect"-->
                    <#--                                    id="page-header-notifications-dropdown"-->
                    <#--                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <#--                                <i class="bx bx-bell bx-tada"></i>-->
                    <#--                            </button>-->
                    <#--                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"-->
                    <#--                                 aria-labelledby="page-header-notifications-dropdown">-->
                    <#--                                <div class="p-3">-->
                    <#--                                    <div class="row align-items-center">-->
                    <#--                                        <div class="col">-->
                    <#--                                            <h6 class="m-0" key="t-notifications"> Notifications </h6>-->
                    <#--                                        </div>-->
                    <#--                                        <div class="col-auto">-->
                    <#--                                            <a href="#!" class="small" key="t-view-all"> View All</a>-->
                    <#--                                        </div>-->
                    <#--                                    </div>-->
                    <#--                                </div>-->
                    <#--                                <div data-simplebar style="max-height: 230px;">-->
                    <#--                                    <a href="javascript: void(0);" class="text-reset notification-item">-->
                    <#--                                        <div class="d-flex">-->
                    <#--                                            <div class="avatar-xs me-3">-->
                    <#--                                                <span class="avatar-title bg-primary rounded-circle font-size-16">-->
                    <#--                                                    <i class="bx bx-cart"></i>-->
                    <#--                                                </span>-->
                    <#--                                            </div>-->
                    <#--                                            <div class="flex-grow-1">-->
                    <#--                                                <h6 class="mb-1" key="t-your-order">Your order is placed</h6>-->
                    <#--                                                <div class="font-size-12 text-muted">-->
                    <#--                                                    <p class="mb-1" key="t-grammer">If several languages coalesce the-->
                    <#--                                                        grammar</p>-->
                    <#--                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span-->
                    <#--                                                                key="t-min-ago">3 min ago</span></p>-->
                    <#--                                                </div>-->
                    <#--                                            </div>-->
                    <#--                                        </div>-->
                    <#--                                    </a>-->
                    <#--                                    <a href="javascript: void(0);" class="text-reset notification-item">-->
                    <#--                                        <div class="d-flex">-->
                    <#--                                            <img src="assets/images/users/avatar-3.jpg"-->
                    <#--                                                 class="me-3 rounded-circle avatar-xs" alt="user-pic">-->
                    <#--                                            <div class="flex-grow-1">-->
                    <#--                                                <h6 class="mb-1">James Lemire</h6>-->
                    <#--                                                <div class="font-size-12 text-muted">-->
                    <#--                                                    <p class="mb-1" key="t-simplified">It will seem like simplified-->
                    <#--                                                        English.</p>-->
                    <#--                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span-->
                    <#--                                                                key="t-hours-ago">1 hours ago</span></p>-->
                    <#--                                                </div>-->
                    <#--                                            </div>-->
                    <#--                                        </div>-->
                    <#--                                    </a>-->
                    <#--                                    <a href="javascript: void(0);" class="text-reset notification-item">-->
                    <#--                                        <div class="d-flex">-->
                    <#--                                            <div class="avatar-xs me-3">-->
                    <#--                                                <span class="avatar-title bg-success rounded-circle font-size-16">-->
                    <#--                                                    <i class="bx bx-badge-check"></i>-->
                    <#--                                                </span>-->
                    <#--                                            </div>-->
                    <#--                                            <div class="flex-grow-1">-->
                    <#--                                                <h6 class="mb-1" key="t-shipped">Your item is shipped</h6>-->
                    <#--                                                <div class="font-size-12 text-muted">-->
                    <#--                                                    <p class="mb-1" key="t-grammer">If several languages coalesce the-->
                    <#--                                                        grammar</p>-->
                    <#--                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span-->
                    <#--                                                                key="t-min-ago">3 min ago</span></p>-->
                    <#--                                                </div>-->
                    <#--                                            </div>-->
                    <#--                                        </div>-->
                    <#--                                    </a>-->

                    <#--                                    <a href="javascript: void(0);" class="text-reset notification-item">-->
                    <#--                                        <div class="d-flex">-->
                    <#--                                            <img src="assets/images/users/avatar-4.jpg"-->
                    <#--                                                 class="me-3 rounded-circle avatar-xs" alt="user-pic">-->
                    <#--                                            <div class="flex-grow-1">-->
                    <#--                                                <h6 class="mb-1">Salena Layfield</h6>-->
                    <#--                                                <div class="font-size-12 text-muted">-->
                    <#--                                                    <p class="mb-1" key="t-occidental">As a skeptical Cambridge friend-->
                    <#--                                                        of-->
                    <#--                                                        mine occidental.</p>-->
                    <#--                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span-->
                    <#--                                                                key="t-hours-ago">1 hours ago</span></p>-->
                    <#--                                                </div>-->
                    <#--                                            </div>-->
                    <#--                                        </div>-->
                    <#--                                    </a>-->
                    <#--                                </div>-->
                    <#--                                <div class="p-2 border-top d-grid">-->
                    <#--                                    <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">-->
                    <#--                                        <i class="mdi mdi-arrow-right-circle me-1"></i> <span-->
                    <#--                                                key="t-view-more">View More..</span>-->
                    <#--                                    </a>-->
                    <#--                                </div>-->
                    <#--                            </div>-->
                    <#--                        </div>-->
                    <#--                    </@security.authorize>-->

                    <#-- МЕНЮ ПОЛЬЗОВОТЕЛЯ-->
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="assets/images/users/avatar.jpg"
                                 alt="Header Avatar">
                            <@security.authorize access="isAnonymous()">
                                <span class="d-none d-xl-inline-block ms-1" key="t-user-menu">Меню Пользователя</span>
                            </@security.authorize>

                            <@security.authorize access="isAuthenticated()">
                                <span class="d-none d-xl-inline-block ms-1 text-info">${Session.SPRING_SECURITY_CONTEXT.authentication.getName()}</span>
                            </@security.authorize>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end mt-2">

                            <#-- АВТОРИЗОВАН-->
                            <@security.authorize access="isAuthenticated()">
                                <a class="dropdown-item create-plus text-info" href="/user/profile">
                                    <i class="bx bx-user font-size-16 align-middle me-1 text-info"></i>
                                    <span key="t-profile">Профиль</span>
                                </a>
                                <@security.authorize access="hasAuthority('ACCOUNTANT')">
                                    <a class="dropdown-item create-plus text-info" href="/file-manager">
                                        <i class="bx bx-file font-size-16 align-middle me-1 text-info"></i>
                                        <span key="t-file-manager">Файловый Менеджер</span>
                                    </a>
                                </@security.authorize>
                                <li class="menu-item logout">
                                    <form action="/logout" method="post" class="form">
                                        <#--                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                                        <button class="dropdown-item text-danger create-plus" type="submit">
                                            <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
                                            <span key="t-logout">Выйти</span></button>
                                    </form>
                                </li>
                            </@security.authorize>

                            <#-- АНОНИМ-->
                            <@security.authorize access="isAnonymous()">
                                <a class="dropdown-item create-plus" href="/user/authorization">
                                    <i class="bx bx-log-in font-size-16 align-middle me-1"></i>
                                    <span key="t-log-in">Войти</span>
                                </a>
                            </@security.authorize>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                            <i class="bx bx-cog bx-spin"></i>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <!-- МЕНЮ по сущностям -->
        <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
            <div class="vertical-menu">
                <div data-simplebar class="h-100">
                    <div id="sidebar-menu" style="padding: 0 0 30px 0;">
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" key="t-menu">Меню</li>
                            <li>
                                <a href="/applications/kanban" class="waves-effect">
                                    <i class="bx bxs-dashboard"></i>
                                    <#--                                    <span class="badge rounded-pill bg-info float-end">04</span>-->
                                    <span key="t-kanban-board">Канбан Доска</span>
                                </a>
                            </li>
                            <li>
                                <a href="/file-manager" class="waves-effect">
                                    <i class="bx bx-file"></i>
                                    <span key="t-file-manager">Файловый Менеджер</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-briefcase-alt-2"></i>
                                    <span key="t-counterparties">Контрагенты</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/counterparty/create" key="t-create-counterparty">Создать
                                            Контрагента</a>
                                    </li>
                                    <li><a href="/counterparty/list" key="t-counterparty-list">Список Контрагентов</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-map"></i>
                                    <span key="t-objects">Объекты</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/object/create" key="t-create-object">Создать Объект</a></li>
                                    <li><a href="/object/list" key="t-object-list">Список Объектов</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-map"></i>
                                    <span key="t-locations">Локации</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/location/create" key="t-create-location">Создать Локацию</a></li>
                                    <li><a href="/location/list" key="t-location-list">Список Локаций</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-briefcase-alt-2"></i>
                                    <span key="t-projects">Проекты</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/project/create" key="t-create-project">Создать Проект</a></li>
                                    <li><a href="/project/list" key="t-project-list">Список Проектов</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-devices"></i>
                                    <span key="t-devices">Устройства</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/device/add" key="t-create-device">Создать Устройство</a></li>
                                    <li><a href="/device/list" key="t-device-list">Список Устройств</a></li>
                                    <li><a href="/device-type/list" key="t-device-types-list">Типы Устройств</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-task"></i>
                                    <span key="t-applications">Заявки</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/applications/add" key="t-create-application">Создать Заявку</a>
                                    </li>
                                    <li><a href="/applications/list" key="t-application-list">Список Заявок</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-user-circle"></i>
                                    <span key="t-users">Пользователи</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <@security.authorize access="hasAuthority('ADMIN')">
                                        <li><a href="/user/create" key="t-register">Создать Пользователя</a></li>
                                    </@security.authorize>
                                    <li><a href="/user/list" key="t-user-list">Список Пользователей</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </@security.authorize>

        <#nested>
    </div>

    <!-- Right Sidebar -->
    <!-- НАСТРОЙКА ПО ЦВЕТОВОМУ ФОНУ-->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">
                <h5 class="m-0 me-2" key="t-settings">Настройки</h5>
                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0"/>
            <h6 class="text-center mb-0" key="t-choose-layouts">Выберите Макет</h6>
            <div class="p-4">
                <div class="mb-2">
                    <img src="assets/images/layouts/layout-1.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch" key="t-light-mode">Светлый Режим</label>
                </div>
                <div class="mb-2">
                    <img src="assets/images/layouts/layout-2.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch">
                    <label class="form-check-label" for="dark-mode-switch" key="t-dark-mode">Темный Режим</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <#-- FOOTER for ADMIN and MANAGER-->
    <@security.authorize access="hasAnyAuthority('ADMIN', 'MANAGER')">
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        RLine ©
                        <script>document.write(new Date().getFullYear())</script>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block" key="t-footer">
                            Спроектировано и Разработано 4 Командой Java Курса
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </@security.authorize>

    <#-- FOOTER for ANONYMOUS, ACCOUNTANT, EXECUTOR and USER-->
    <@security.authorize access="isAnonymous() or hasAnyAuthority('ACCOUNTANT', 'EXECUTOR', 'USER')">
        <footer class="footer" style="left: 0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        RLine ©
                        <script>document.write(new Date().getFullYear())</script>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block" key="t-footer">
                            Спроектировано и Разработано 4 Командой Java Курса
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </@security.authorize>

    <#--    &lt;#&ndash; FOOTER for EXECUTOR&ndash;&gt;-->
    <#--    <@security.authorize access="hasAuthority('EXECUTOR')">-->
    <#--        <footer class="footer" style="left: 0">-->
    <#--            <div class="container-fluid">-->
    <#--                <div class="row">-->
    <#--                    <div class="col-sm-6">-->
    <#--                        RLine ©-->
    <#--                        <script>document.write(new Date().getFullYear())</script>-->
    <#--                    </div>-->
    <#--                    <div class="col-sm-6">-->
    <#--                        <div class="text-sm-end d-none d-sm-block" key="t-footer">-->
    <#--                            Designed and Developed by ESDP TEAM 4-->
    <#--                        </div>-->
    <#--                    </div>-->
    <#--                </div>-->
    <#--            </div>-->
    <#--        </footer>-->
    <#--    </@security.authorize>-->

    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>

    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="assets/js/pages/dashboard.init.js"></script>

    <script src="assets/libs/dropzone/min/dropzone.min.js"></script>

    <script src="assets/libs/bootstrap-editable/js/index.js"></script>
    <script src="assets/libs/moment/min/moment.min.js"></script>
    <script src="assets/js/pages/form-xeditable.init.js"></script>

    <script src="assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/libs/tinymce/tinymce.min.js"></script>
    <!-- form repeater js -->
    <script src="assets/libs/jquery.repeater/jquery.repeater.min.js"></script>
    <!-- Our js -->
    <script src="assets/js/mainMy.js"></script>
    <script src="assets/libs/table-edits/build/table-edits.min.js"></script>

    <script src="assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <!-- Sweet alert init js-->
    <script src="assets/js/pages/sweet-alerts.init.js"></script>

    <script src="assets/js/pages/table-editable.int.js"></script>
    <script src="assets/libs/select2/js/select2.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/pages/tasklist.init.js"></script>
    <script src="assets/js/pages/task-create.init.js"></script>
    <script src="assets/js/pages/file-manager.init.js"></script>

    <script src="assets/js/pages/ecommerce-select2.init.js"></script>

    <script src="assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
    <script src="assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="assets/libs/@chenfengyuan/datepicker/datepicker.min.js"></script>

    <script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Responsive examples -->
    <script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- crypto-wallet init -->
    <script src="assets/js/pages/crypto-wallet.init.js"></script>

    <script src="assets/js/pages/form-advanced.init.js"></script>
    <script src="assets/js/loader.js"></script>

    </body>
    </html>

</#macro>