<#import "index.ftlh" as base >

<@base.layout>
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-sm-6">
                        <a href="/file-manager"
                           class="btn text-muted d-none d-sm-inline-block btn-link">
                            <i class="mdi mdi-arrow-left me-1"></i> Back to FileManager </a>
                    </div> <!-- end col -->
                </div> <!-- end row -->
                <div class="checkout-tabs">
                    <div class="row">
                        <#if buckets?has_content>
                            <#list buckets as bucket>
                                <div class="col-xl-2 col-sm-3">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                         aria-orientation="vertical">
                                        <a style="background-color: #081c42" class="nav-link active"
                                           id="${bucket.name()}" data-bs-toggle="pill"
                                           href="#${bucket.name()}" role="tab" aria-controls="v-pills-shipping"
                                           aria-selected="true">
                                            <i class="bx bxs-folder-open d-block check-nav-icon mt-4 mb-2"></i>
                                            <p class="fw-bold mb-4">${bucket.name()}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-10 col-sm-9">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <div class="tab-pane fade show active" id="${bucket.name()}"
                                                     role="tabpanel"
                                                     aria-labelledby="${bucket.name()}">
                                                    <div>
                                                        <h4 class="card-title">Bucket: ${bucket.name()}</h4>
                                                        <p style="margin: 0; padding: 0" class="card-title-desc">Count
                                                            Minio: ${counteBucketFiles.getCountDocumentsMinio(bucket.name())}</p>
                                                        <p style="margin: 0; padding: 0; padding-bottom: 5px"
                                                           class="card-title-desc">Count
                                                            System: ${counteSystemFiles.getCountDocumentsSystem(bucket.name())}</p>
                                                        <p style="margin: 0; padding: 0; padding-bottom: 5px"
                                                           class="card-title-desc">Duplicate: ${similarDoc.getSimilarDocument(bucket.name())} </p>
                                                        <div class="table-responsive">
                                                            <table class="table align-middle table-nowrap table-check">
                                                                <thead class="table-light">
                                                                <tr>
                                                                    <th class="align-middle">Document Name</th>
                                                                    <th class="align-middle">Presence</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <#if documents.getAllDocumentsMinio(bucket.name())?has_content>
                                                                    <#list documents.getAllDocumentsMinio(bucket.name()) as document>
                                                                        <tr>
                                                                            <td>${document}</td>
                                                                            <td>
                                                                                ${testIs.testIsDocument(document,bucket.name())?string("true", "false")}
                                                                            </td>
                                                                        </tr>
                                                                    </#list>
                                                                </#if>
                                                                </tbody>
                                                            </table>
                                                            <div class="files-errors" style="display: flex;    flex-direction: row;    justify-content: space-between;">
                                                                <table class="table align-middle table-nowrap table-check" style="border-right: 2px solid #eceff4">
                                                                    <thead class="table-light">
                                                                    <tr>
                                                                        <th class="align-middle">Not available in Minio, but available in the app</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <#if documents.getAllDocumentsMinio(bucket.name())?has_content>
                                                                        <#if testMinioPresent.testList(documents.getAllDocumentsMinio(bucket.name()),bucket.name())?has_content>
                                                                            <#list testMinioPresent.testList(documents.getAllDocumentsMinio(bucket.name()),bucket.name())["Minio"] as minioList>
                                                                                    <tr>

                                                                                        <td style=" color: #e09090fa; display: flex;justify-content: space-between;align-items: center;">
                                                                                            <span>${minioList}</span>
                                                                                            <span><a href="/minio-delete-system/${bucket.name()}/${minioList}">
                                                                                                  <i class="mdi mdi-delete-circle font-size-24 align-middle text-success me-2"></i>
                                                                                              </a></span>
                                                                                        </td>

                                                                                    </tr>
                                                                                </#list>
                                                                        </#if>
                                                                    </#if>
                                                                    </tbody>
                                                                </table>
                                                                <table class="table align-middle table-nowrap table-check" style="text-align: end">
                                                                    <thead class="table-light">
                                                                    <tr>
                                                                        <th class="align-middle">Not in the app, but available in Minio</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <#if documents.getAllDocumentsMinio(bucket.name())?has_content>
                                                                        <#if testMinioPresent.testList(documents.getAllDocumentsMinio(bucket.name()),bucket.name())?has_content>
                                                                                <#list testMinioPresent.testList(documents.getAllDocumentsMinio(bucket.name()),bucket.name())["System"] as systemList>

                                                                                    <tr>
                                                                                        <td style=" color: #e09090fa; display: flex;justify-content: space-between;align-items: center;">
                                                                                          <span>${systemList}</span>
                                                                                          <span>
                                                                                              <a href="/minio-delete-minio/${bucket.name()}/${systemList}">
                                                                                                  <i class="mdi mdi-delete-circle font-size-24 align-middle text-success me-2"></i>
                                                                                              </a>
                                                                                          </span>
                                                                                        </td>
                                                                                    </tr>
                                                                            </#list>
                                                                        </#if>
                                                                    </#if>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </#list>
                        </#if>
                    </div>
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
    </div>

</@base.layout>