<#import "index.ftlh" as base >

<@base.layout>

    <div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="card">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/file-manager">File Manager</a></li>
                                <li class="breadcrumb-item active">Trash</li>
                                <li class="breadcrumb-item active"><span class="message-info"></span></li>
                            </ol>
                        </div>

                        <ul class="nav nav-tabs nav-tabs-custom justify-content-center pt-2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all-post" role="tab">
                                    Mark Delete
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#duplicate" role="tab">
                                    Duplicate
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#archive" role="tab">
                                    Archive
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content p-4">
                            <div class="tab-pane active" id="all-post" role="tabpanel">
                                <div style="display: flex; justify-content: space-between;" class="link-prev-next">
                                    <div class="for_link_paginat">
                                        <a style="text-decoration: none; color: white"
                                           href="javascript:prevPage2()" id="btn_prev2">
                                            <button style="width: 100px" type="button"
                                                    class="btn btn-secondary btn-sm waves-effect waves-light">
                                                Назад
                                            </button>
                                        </a>
                                        <a style="text-decoration: none; color: white"
                                           href="javascript:nextPage2()" id="btn_next2">
                                            <button style="width: 100px" type="button"
                                                    class="btn btn-primary btn-sm waves-effect waves-light">
                                                Далее
                                            </button>
                                        </a>
                                        <div class="pagination-counter" style="max-width: 35%">
                                            <div class="pages-pagin">
                                                <span class="badge badge-soft-info">page:</span> <span
                                                        id="page1"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: inline-block" class="search-box form-search">

                                    </div>
                                </div>
                                <div class="table-responsive" style="min-height: 400px">

                                    <table class="table align-middle table-nowrap table-hover mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Date modified</th>
                                            <th scope="col">Author</th>
                                            <th scope="col">Folder</th>
                                            <th scope="col" colspan="1">Size</th>
                                            <th scope="col" colspan="2">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody class="files-table">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="duplicate" role="tabpanel">
                                <div>
                                    <div class="row justify-content-center">
                                        <div class="col-xl-8">
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead>
                                                    <tr>

                                                        <th style="text-align: start">Folder</th>
                                                        <th style="text-align: center">Document</th>
                                                        <th colspan="1"></th>
                                                        <th style="text-align: center">Document</th>
                                                        <th style="text-align: end">Folder</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <#if duplicates?has_content>
                                                        <#list duplicates as key,value>
                                                            <tr>
                                                                <td style="text-align: start"><a style="color: #0077aa" href="/folderView/${key.folder.name}">${key.folder.pageName}</a></td>
                                                                <td style="text-align: end"><a style="color: #4f5050; " href="/documentView/${key.id}">${key.exchange}</a></td>
                                                                <td><i class="mdi mdi-book-arrow-right d-block font-size-24"></i> </td>
                                                                <td style="text-align: start"><a style="color: #4f5050" href="/documentView/${value.id}">${value.exchange}</a></td>
                                                                <td style="text-align: end"><a style="color: #0077aa" href="/folderView/${value.folder.name}">${value.folder.pageName}</a></td>
                                                            </tr>

                                                        </#list>
                                                    </#if>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="archive" role="tabpanel">
                                <div>
                                    <div class="row justify-content-center">
                                        <div class="col-xl-8">
                                            <h5>Archive</h5>

                                            <div class="mt-5">
                                                <div class="d-flex flex-wrap">
                                                    <div class="me-2">
                                                        <h7>Время истечения срока действия URL-адреса удаленного
                                                            объекта составляет - 6(дней), с указанной даты удаления.
                                                        После истеченни данного срока, документ автоматически удалится из системы</h7>
                                                    </div>

                                                </div>
                                                <hr class="mt-2">

                                                <div class="list-group list-group-flush">
                                                    <#if deleted?has_content>
                                                        <#list deleted as documentDelete>
                                                            <span style="display: flex; justify-content: space-around;"
                                                                  href="blog-details.html" class="list-group-item text-muted">
                                                        <i class="mdi mdi-circle-medium me-1"></i>
                                                      <span style="font-weight: bold;
                                                                    max-width: 175px;
                                                                    min-width: 175px;
                                                                     white-space: nowrap;
                                                                     overflow: hidden;
                                                                    text-overflow: ellipsis;">
                                                         ${documentDelete.name}</span>
                                                        <span>${documentDelete.dateDelete}</span>
                                                                <a href="/apiDocument/linkTrash/${documentDelete.name}"><button title="Получить временную ссылку на документ" style="height: 20px; display: flex; justify-content: center; align-items: center; min-width: 20px; background-color: #2a3042;" type="button" class="btn link-trash waves-effect waves-light w-sm">
                                                            <i style="color: whitesmoke" class="mdi mdi-link d-block font-size-6"></i>
                                                        </button>
                                                                </a>
                                                        <span title="дней до истечении действия ссылки" class="badge badge-soft-secondary rounded-pill float-end ms-1 font-size-12">${documentDelete.getLeftDays()}</span>

                                                    </span>
                                                        </#list>
                                                    </#if>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

    </div>
    <script src="/assets/js/remove-list.js"></script>
</@base.layout>