<#import "../index.ftlh" as base >

<@base.layout title="Создание объекта">

    <div id="layout-wrapper">
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <#-- ДИРЕКТОРИЯ СТРАНИЦЫ-->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18" key="t-create-object">Создать Объект</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item" key="t-objects">Объекты</li>
                                        <li class="breadcrumb-item active" key="t-create-object">Создать Объект</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <#-- ФОРМА СОЗДАНИЯ-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4" key="t-create-new-object">Создать Новый Объект</h4>
                                    <form action="/object/add" method="post">
                                        <div class="row mb-4">
                                            <label for="name" class="col-form-label col-lg-2 fw-bold" key="t-name-field">Наименование:</label>
                                            <div class="col-lg-10">
                                                <input type="text" required id="name" name="name" class="form-control"
                                                       maxlength="30" placeholder="Введите наименование">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="address" class="col-form-label col-lg-2 fw-bold" key="t-address-field">Адрес:</label>
                                            <div class="col-lg-10">
                                                <input required id="address" name="address" type="text"
                                                       class="form-control" maxlength="50"
                                                       placeholder="Введите адрес">
                                            </div>
                                        </div>

                                        <div class="row justify-content-end">
                                            <div class="col-lg-10">
                                                <button type="submit" class="btn btn-primary" key="t-add-object">Создать Объект
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@base.layout>