<#import "../index.ftlh" as base >

<@base.layout>

    <div id="layout-wrapper">
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center mt-4">
                        <div class="col-md-8 col-lg-6 col-xl-5">
                            <div class="card overflow-hidden mt-5">
                                <div class="bg-primary bg-soft">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="text-primary p-4">
                                                <h5 class="text-primary" key="t-update-password">Update password</h5>
                                                <p key="t-update-password-page">Update password to user</p>
                                            </div>
                                        </div>
                                        <div class="col-5 align-self-end">
                                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div>
                                        <a href="index.html">
                                            <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="assets/images/logo.svg" alt="logo"
                                                     class="rounded-circle" height="34">
                                            </span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="p-2">
<#--                                        <div class="alert alert-success text-center mb-4" role="alert">-->
<#--                                            Поменяйте пароль пользователю.-->
<#--                                        </div>-->
                                        <form class="form-horizontal" action="/user/${user.id}/changePass"
                                              method="post">
                                            <label class="form-label" key="t-new-password">Enter the new password</label>
                                            <div>
                                                <input type="hidden" name="id" ${user.id}>
                                            </div>
                                            <div>
                                                <input type="password" id="pass2" class="form-control" required
                                                       placeholder="Новый пароль"/>
                                            </div>
                                            <div class="mt-2">
                                                <input type="password" class="form-control" required
                                                       data-parsley-equalto="#pass2" name="newPass"
                                                       placeholder="Повторить пароль"/>
                                            </div>
                                            <div class="mt-2">
                                            </div>
                                            <div class="text-end mt-4">
                                                <button class="btn btn-primary w-md waves-effect waves-light"
                                                        type="submit" key="t-update">Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
<#--                            <div class="mt-5 text-center">-->
<#--                                <p>Вспомнили? <a href="/user/authorization" class="fw-medium text-primary"> Войдите-->
<#--                                        здесь</a></p>-->
<#--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/pages/parsley.min.js"></script>
    <script src="assets/js/pages/form-validation.init.js"></script>

</@base.layout>