<#import "../index.ftlh" as base >

<@base.layout title="Список локаций">

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <#-- ДИРЕКТОРИЯ СТРАНИЦЫ-->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18" key="t-location-list">Список Локаций</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item" key="t-locations">Локации</li>
                                    <li class="breadcrumb-item active" key="t-location-list">Список Локаций</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <#-- ПОИСК ПО ЛОКАЦИЯМ-->
                            <div class="form-search"></div>
                            <#-- ПАГИНАЦИЯ-->
                            <div class="pagination-counter">
                                <div class="d-flex align-items-baseline">
                                    <a style="text-decoration: none; color: white" href="javascript:prevPage2()"
                                       id="btn_prev2">
                                        <button style="width: 100px" type="button"
                                                class="btn btn-secondary waves-effect waves-light" key="t-back">
                                            Назад
                                        </button>
                                    </a>
                                    <a style="text-decoration: none; color: white"
                                       href="javascript:nextPage2()" id="btn_next2">
                                        <button style="width: 100px" type="button"
                                                class="btn btn-primary waves-effect waves-light ms-1"
                                                key="t-next">
                                            Далее
                                        </button>
                                    </a>
                                    <div class="d-flex">
                                        <h5><span class="badge badge-soft-info ms-2"
                                                  key="t-page-field">страница:</span></h5>
                                        <h5><span class="badge badge-soft-info ms-1" id="page1"></span></h5>
                                    </div>
                                </div>
                            </div>
                            <#-- ОБЩЕЕ КОЛИЧЕСТВО ЛОКАЦИЙ-->
                            <div class="d-flex align-items-center mt-3">
                                <h5><span class="badge badge-soft-info"
                                          key="t-total-locations">Всего локаций:</span></h5>
                                <h5><span class="badge badge-soft-info ms-1" id="total"></span></h5>
                            </div>
                            <#-- СПИСОК ЛОКАЦИЙ-->
                            <table class="table project-list-table table-nowrap align-middle table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col" class="ps-4">#</th>
                                    <th scope="col" key="t-location">Локация</th>
                                    <th scope="col" key="t-contact-person">Контактное лицо</th>
                                    <th scope="col" key="t-phone">Телефон</th>
                                    <#--                                    <th scope="col" key="t-object">Объект</th>-->
                                    <th scope="col" key="t-counterparty">Контрагент</th>
                                </tr>
                                </thead>
                                <tbody class="locations"></tbody>
                            </table>
                            <#-- СКАЧАТЬ СПИСОК ЛОКАЦИЙ В EXCEL файле-->
                            <div class="mb-4">
                                <button type="button" class="btn btn-primary">
                                    <div class="d-flex align-items-center">
                                        <i class="mdi mdi-download d-block font-size-16"></i>
                                        <a href="/location/excel"
                                           style="color: whitesmoke; padding-left: 5px" key="t-excel-locations">Скачать
                                            список локаций</a>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/location-list.js"></script>

</@base.layout>